.coming {
  position: relative;
  background: url("../images/mixins/coming_soon_blur.jpg") no-repeat #fff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
		left: 0;
    background-image: linear-gradient(to bottom right,#fff,$c-main);
    opacity: .8;
	}

	&__logo {
		max-width: 180px;
		padding-right: 1rem;
		margin: 0 auto;
	}
	
	&__cta-btns {
		max-width: 300px;
		margin: 0 auto;
	}
	
	.title {
		font-size: 2.5rem;
		color: #fff;
		text-shadow: 0 2px 1px rgba($c-main, 0.8);
	}

	.sub-title {
		font-size: 2rem;
		color: #fff;
		text-shadow: 0 2px 1px rgba($c-main, 0.8);
		font-weight: bold;
		padding-bottom: 3rem; 
	}

	.speakers {
		img {
			border-radius: 50%;
			height: 200px;
			width: 200px;
		}
		h3.name {
			font-size: 2rem;
			text-shadow: 0 2px 1px rgba($c-main, 0.8);
			font-weight: bold;
		}
	}

	.is-event-venue {
		a {
			margin-top: 0.5rem;
			word-break: break-word;
			text-decoration: underline;
		}
	}

	.is-contact {
		a {
			display: inline-block;
			transition: all, 0.3s;
			padding: 0 0.75rem;
			line-height: 2;

			&:hover {
				color: #D6D6D6 !important;
			}
		}
	}
	@media (min-width: $tablet) {
		&__logo {
			max-width: 240px;
		}
		
		.title {
			font-size: 3.5rem;
		}

		.is-event-venue {
			a {
				white-space: pre-line;
			}
		}

		.sub-title {
			font-size: 3rem;
		}
	}
}