@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato|Marmelad');

// Overwrite Bulma variables

// Color
$primary: #902e1b;
$info: #ebe2c4;

// Breakpoints
$tablet: 768px;

// Components/Navbar
$navbar-height: 5rem;
$navbar-background-color: $info;
$navbar-item-hover-color: $primary;
$navbar-item-active-color: $primary;
$navbar-burger-color: $primary;

// Elements/Button
$button-padding-horizontal: 1em;

// Components/Modal
$modal-card-head-radius: 4px;
$modal-card-spacing: 64px;
$modal-card-head-padding: 1.5rem;
$modal-card-body-padding: 1.5rem;

@import "bulma";

@import "base/mixin";
@import "base/styleguide";
@import "base/shared";

@import "cover";
@import "news";
@import "speakers";
@import "venue";
@import "schedule";
@import "parties";
@import "sponsors";