@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans+TC|Tenali+Ramakrishna');

// Overwrite Bulma variables

// Color
$primary: #902e1b;

// Breakpoints
$tablet: 768px;

// Components/Navbar
$navbar-height: 5rem;
$navbar-background-color: rgba(#fff, 0.25);
$navbar-item-hover-color: $primary;
$navbar-item-active-color: $primary;
$navbar-burger-color: $primary;

// Elements/Button
$button-padding-horizontal: 1em;

// Components/Modal
$modal-content-width: calc( 100% - 3rem);
$modal-card-spacing: 64px;
$modal-card-head-radius: 4px;

@import "bulma";

@import "base/mixin";
@import "base/styleguide";
@import "base/shared";

@import "cover";
@import "speakers";
@import "sponsors";