link[rel="apple-touch-icon" sizes="180x180" href="#{image_path('public/apple-touch-icon.png')}"]
link[rel="icon" type="image/png" sizes="32x32" href="#{image_path('public/favicon-32x32.png')}"]
link[rel="icon" type="image/png" sizes="16x16" href="#{image_path('public/favicon-16x16.png')}"]
link[rel="icon" href="#{image_path('public/favicon.ico')}"]
link[rel="manifest" href="#{image_path('public/site.webmanifest')}"]
link[rel="mask-icon" href="#{image_path('public/safari-pinned-tab.svg')}" color="#902e1b"]
meta[name="msapplication-TileColor" content="#902e1b"]
meta[name="theme-color" content="#ffffff"]