meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
meta charset="utf-8" /
meta content="ie=edge" http-equiv="x-ua-compatible" /
meta content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5" name="viewport" /
meta content="yes" name="apple-mobile-web-app-capable" /
meta content="telephone=no" name="format-detection" /

meta name="description" content="#{data.site.description}" /
meta name="keywords" content="#{data.site.keywords}" /
meta property="og:site_name" content="#{data.site.title}" /
meta property="og:title" content="#{data.site.title}" /
meta property="og:description" content="#{data.site.description}" /
meta property="og:url" content="#{root_url}" /
meta property="og:type" content="website" /
meta property="og:image" content="#{root_url + image_path('public/og_image.png')}" /

link rel="canonical" href="#{root_url}"
title = data.site.title

link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"

= partial "layouts/shared/favicon"

= stylesheet_link_tag :main
= javascript_include_tag :main