@mixin background-arch($color, $radius) {
  position: relative;
  padding-top: 40%;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6rem;
    width: calc( 100% + 12rem);
    height: 100%;
    background: $color;
    border-radius: $radius;
    box-shadow: 0 0 10px 0 rgba($dark, 0.3);
  }
}

// Animation

@keyframes floating {
  0% {
    transform-origin: center center;
    transform: translateY(0);
  }

  25% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(3px);
  }

  75% {
    transform: translateY(-3px);
  }

  100% {
    transform-origin: center center;
    transform: translateY(0);
  }
}

@keyframes breathing {
  0% {
    transform-origin: center center;
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  25% {
    transform: scale(0.95) translateY(-1.5px);
    opacity: 0.8;
  }

  50% {
    transform: scale(1) translateY(2px);
    opacity: 0.9;
  }

  75% {
    transform: scale(0.9) translateY(-1px);
    opacity: 0.85;
  }

  100% {
    transform-origin: center center;
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(100%) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes pot-cap {
  0% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-15px) rotate(0.6deg);
  }
  30% {
    transform: translateX(7.5px) rotate(-1.2deg);
  }
  45% {
    transform: translateX(-7.5px) rotate(1.8deg);
  }
  60% {
    transform: translateX(4.5px) rotate(-1.3deg);
  }
  75% {
    transform: translateX(-3px) rotate(0.6deg);
  }
  100% {
    transform-origin: 100% 100%;
    transform: translateX(-150px) translateY(260px) rotate(60deg);
  }
}

@keyframes slide-in-br--65 {
  0% {
    transform: translateX(5%) translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0.65;
  }
}

@keyframes slide-in-br--70 {
  0% {
    transform: translateX(10%) translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0.7;
  }
}

 @keyframes slide-in-br--80 {
  0% {
    transform: translateX(10%) translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0.8;
  }
}

@keyframes slide-in-bl--65 {
  0% {
    transform: translateX(-10%) translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 0.65;
  }
}

@keyframes slide-in-bl--80 {
  0% {
    transform: translateX(-10%) translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 0.8;
  }
}