body {
  overflow: hidden;
}

.section {
  position: relative;
  z-index: 3;
}

// Navbar
.navbar {
  transition: all 0.3s ease-out;

  .navbar-item img {
    max-height: 4rem;
  }

  .navbar-burger span {
    height: 2px;
  }

  &.is-shrink {
    background-color: transparent;
    padding: 1rem;
  }
}

// Footer
.footer {
  position: relative;
  padding: 3rem 1.5rem !important;
  z-index: 1;
  
  &__logo {
    max-width: 180px;
  }

  &__list {
    line-height: 2;

    span {
      padding-right: 0.75rem;
    }

    .has-modal {
      cursor: pointer;
    }
  }

  &__social {
    a.has-text-pastel {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}