$gap: 64px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

/* Color palette */
$c-main: #E51A3C;

$c-pink-500: #E91E63;
$c-pink-600: #D81B60;
$c-pink-700: #C2185B;

/* Font */
body {
  font-family: "Noto Sans TC", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;

  a, p {
    word-break: break-all;
  }
}

/* Customized Helpers */
.is-text-rubik         {font-family: "Rubik", sans-serif;}

.is-pre-line          {white-space: pre-line;}

.is-flex-wrap         {flex-wrap: wrap;}
.is-flex-row-reverse  {flex-direction: row-reverse;}
.is-flex-column       {flex-direction: column;}
.is-flex-grow         {flex-grow: 2;}

.is-justified-center  {justify-content: center;}
.is-justified-start   {justify-content: flex-start;}
.is-justified-end     {justify-content: flex-end;}
.is-justified-around  {justify-content: space-around;}
.is-justified-between {justify-content: space-between;}
.is-aligned-start     {align-items: flex-start;}
.is-aligned-center    {align-items: center;}
.is-aligned-end       {align-items: flex-end;}
.is-aligned-stretch   {align-items: stretch;}
.is-aligned-around    {align-items: space-around;}
.is-aligned-between   {align-items: space-between;}
.is-aligned-self-end  {align-self: flex-end;}

$size: (
  sm: 1.5rem,
  md: 3rem,
  lg: 5rem,
);

@each $key, $val in $size {
  .has-margin-top-#{$key} {margin-top: $val !important;}
  .has-margin-bottom-#{$key} {margin-bottom: $val !important;}
  .has-padding-#{$key} {padding: $val !important;}
  .has-padding-width-#{$key} {padding: 0 $val !important;}
}

@media (min-width: $tablet) {
  @each $key, $val in $size {
    .has-margin-top-#{$key}-tablet {margin-top: $val !important;}
    .has-margin-bottom-#{$key}-tablet {margin-bottom: $val !important;}
    .has-padding-#{$key}-tablet {padding: $val !important;}
    .has-padding-width-#{$key}-tablet {padding: 0 $val !important;}
  }
}

@media (min-width: $desktop) {
  @each $key, $val in $size {
    .has-margin-top-#{$key}-desktop {margin-top: $val !important;}
    .has-margin-bottom-#{$key}-desktop {margin-bottom: $val !important;}
    .has-padding-#{$key}-desktop {padding: $val !important;}
    .has-padding-width-#{$key}-desktop {padding: 0 $val !important;}

    .has-padding-top-mega {padding-top: 10rem !important;}
  }
}

.button {
  transition: all, 0.3s;

  &.is-outlined {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: $c-pink-500;
      border: 1px solid $c-pink-500;
    }
  }

  &--cfp {
    background: $c-pink-500;
    border-color: $c-pink-500;
    box-shadow: 0 2px 1px $c-pink-600;
    margin-bottom: 1.5rem !important;
    
    color: #fff;
    font-weight: bold;

    &:active, &:hover, &:focus, &:visited {
      color: #fff;
    }

    &:hover {
      background: $c-pink-600;
      border-color: $c-pink-600;
      box-shadow: 0 2px 1px $c-pink-700;
    }
  }
}