// Color palette
$c-pastel: #ebe2c4;
$c-orange: #e37b3a;

$breakpoint: (
  tablet: $tablet,
  desktop: $desktop,
  widescreen: $widescreen,
  fullhd: $fullhd,
);

$size: (
  sm: 1.5rem,
  md: 3rem,
  lg: 5rem,
);

// Font
body {
  font-family: "Lato", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

// Text Custom helpers
.is-text-alt {font-family: 'Tamil MN', 'Marmelad', sans-serif;}

.has-text-pastel {
  color: $c-pastel;

  &:hover {
    color: $c-pastel !important;
  }
}

.has-text-orange {
  color: $c-orange;

  &:hover {
    color: $c-orange !important;
  }
}

// Customized Helpers
.is-pre-line          {white-space: pre-line;}

// Flexbox Custom helpers
.is-justified-center  {justify-content: center !important;}
.is-justified-start   {justify-content: flex-start !important;}
.is-justified-end     {justify-content: flex-end !important;}
.is-justified-around  {justify-content: space-around !important;}
.is-justified-between {justify-content: space-between !important;}
.is-aligned-start     {align-items: flex-start !important;}
.is-aligned-center    {align-items: center !important;}
.is-aligned-end       {align-items: flex-end !important;}
.is-aligned-stretch   {align-items: stretch !important;}
.is-aligned-around    {align-items: space-around !important;}
.is-aligned-between   {align-items: space-between !important;}
.is-aligned-self-end  {align-self: flex-end !important;}

// Padding & Margin helpers
@each $key, $val in $size {
  .has-margin-top-#{$key} {margin-top: $val !important;}
  .has-margin-bottom-#{$key} {margin-bottom: $val !important;}
  .has-padding-#{$key} {padding: $val !important;}
  .has-padding-width-#{$key} {padding: 0 $val !important;}
}

@each $viewport, $breakpoint in $breakpoint {

  @media (min-width: #{$breakpoint}) {
    .is-marginless-#{$viewport} {margin: 0 !important;}

    @each $key, $val in $size {
      .has-margin-top-#{$key}-#{$viewport} {margin-top: $val !important;}
      .has-margin-bottom-#{$key}-#{$viewport} {margin-bottom: $val !important;}
      .has-padding-#{$key}-#{$viewport} {padding: $val !important;}
      .has-padding-width-#{$key}-#{$viewport} {padding: 0 $val !important;}
    }
  }
}

// Style Custom helpers
.has-background-pastel  {background-color: $c-pastel}
.has-background-tile    {background: $c-pastel image-url('mixins/bg_tile.svg');}

.background-arch-header {

  &--white {
    @include background-arch(white, 50% 50% 0 0);
  }

  &--primary {
    @include background-arch($primary, 50% 50% 0 0);
  }
}

.background-arch-footer {

  &--white {
    margin-top: -25%;
    @include background-arch(white, 0 0 50% 50%);
  }

  &--primary {
    margin-top: -25%;
    @include background-arch($primary, 0 0 50% 50%);
  }
}